In [9]:
import pandas as pd

# Updated data with only 6 unique words total
data = {
    'id': [1, 2, 3, 4, 5],
    'sentence': [
        "apple banana apple",          # uses apple, banana
        "banana orange",               # uses banana, orange
        "grape apple",                 # uses grape, apple
        "banana orange grape",         # banana, orange, grape
        "apple grape fruit"            # apple, grape, fruit
    ],
    'output': [1, 0, 1, 0, 1]  # Binary labels
}

df = pd.DataFrame(data)
print(df)

   id             sentence  output
0   1   apple banana apple       1
1   2        banana orange       0
2   3          grape apple       1
3   4  banana orange grape       0
4   5    apple grape fruit       1

In [16]:
df

   id             sentence  output
0   1   apple banana apple       1
1   2        banana orange       0
2   3          grape apple       1
3   4  banana orange grape       0
4   5    apple grape fruit       1

In [12]:
cv = CountVectorizer()

In [13]:
bow = cv.fit_transform(df['sentence'])

In [14]:
cv.vocabulary_

{'apple': 0, 'banana': 1, 'orange': 4, 'grape': 3, 'fruit': 2}

In [15]:
bow[0].toarray()

array([[2, 1, 0, 0, 0]], dtype=int64)

In [17]:
bow[3].toarray()

array([[0, 1, 0, 1, 1]], dtype=int64)

In [23]:
cv.transform(['apple and banana and orange and graphes is all the best and apple']).toarray()

array([[2, 1, 0, 0, 1]], dtype=int64)