In [1]:
import pandas as pd

# Updated data with only 6 unique words total
data = {
    'id': [1, 2, 3, 4, 5],
    'sentence': [
        "apple banana apple",          # uses apple, banana
        "banana orange",               # uses banana, orange
        "grape apple",                 # uses grape, apple
        "banana orange grape",         # banana, orange, grape
        "apple grape fruit"            # apple, grape, fruit
    ],
    'output': [1, 0, 1, 0, 1]  # Binary labels
}

df = pd.DataFrame(data)
print(df)

   id             sentence  output
0   1   apple banana apple       1
1   2        banana orange       0
2   3          grape apple       1
3   4  banana orange grape       0
4   5    apple grape fruit       1

In [2]:
df

   id             sentence  output
0   1   apple banana apple       1
1   2        banana orange       0
2   3          grape apple       1
3   4  banana orange grape       0
4   5    apple grape fruit       1

In [3]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()

In [5]:
tfidf.fit_transform(df['sentence']).toarray()

array([[0.89442719, 0.4472136 , 0.        , 0.        , 0.        ],
       [0.        , 0.63871058, 0.        , 0.        , 0.76944707],
       [0.70710678, 0.        , 0.        , 0.70710678, 0.        ],
       [0.        , 0.53828256, 0.        , 0.53828256, 0.64846263],
       [0.48624042, 0.        , 0.72604443, 0.48624042, 0.        ]])

In [6]:
print(tfidf.idf_)

[1.40546511 1.40546511 2.09861229 1.40546511 1.69314718]

In [9]:
tfidf.get_feature_names_out()

array(['apple', 'banana', 'fruit', 'grape', 'orange'], dtype=object)